{
  "parser": "typescript-eslint-parser",
  "parserOptions": {
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "node": true
  },
  "globals": {
    "DEBUG": false,
    "PRODUCTION": false
  },
  "plugins": [
    "typescript"
  ],
  "extends": "eslint:recommended",
  "rules": {
    "comma-dangle": ["error", "always-multiline"],
    "no-console": "warn",
    "no-unexpected-multiline": "error",
    "no-unused-vars": "warn",
    "valid-jsdoc": "error",
		# "indent": ["error", 2],

    "consistent-return": "error",
    "curly": "error",
    "dot-location": ["error", "property"],
    "eqeqeq": "error",
    "no-lone-blocks": "error",
    "no-loop-func": "error",
    "no-multi-spaces": "error",
    "no-native-reassign": "error",
    "no-sequences": "error",
    "no-throw-literal": "error",

    "strict": ["error", "global"],

    "arrow-body-style": ["off", "as-needed"],
    "arrow-parens": "error",
    "arrow-spacing": "error",
    "no-confusing-arrow": "error",
    "no-var": "error",
    "object-shorthand": "error",
    "prefer-arrow-callback": "off",
    "prefer-const": "error",
    "prefer-template": "error",

    "brace-style": ["error", "allman"],
    "quotes": "error",
    "semi": ["error", "never"],
    "keyword-spacing": "error",

    "typescript/type-annotation-spacing": "error"
  }
}
